body {
    background-color: rgb(15, 15, 15);
    color: rgb(225, 225, 225);
    font-size: 18px;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.center {
    text-align: center;
}

footer {
    border-top-color: rgb(50, 50, 50);
    border-top-style: solid;
    background-color: rgb(20, 20, 20);
    margin: 0;
    border-top-width: 1.5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
